html, body, div, canvas, ul {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-header {
  padding: 10px 0;
}

.App-logo {
  width: 60px;
}

.App-logo-animated {
  animation: App-logo-spin infinite 20s linear;
}

.App-title {
  font-size: 1.5em;
  color: #333;
}

.App-intro {
  font-size: 1.2em;
  color: #999;
}

.App-link {
  display: inline-block;
  padding: 20px 30px;
}

.release-ball {
  width: 8em;
  height: 2em;
  line-height: 2em;
  margin: 0 auto;
  color: #fff;
  border-radius: 1em;
  background-color: #75CBAE;
}

.modify-choice {
  font-size: 2em;
}
.choice-count {
  font-size: 2.4em;
  margin: 30px;
}

.choice-list {
  display: flex;
  list-style: none;
  align-content: center;
  justify-content: center;
}
.choice-list li {
  flex: 1 1 0;
  padding: 10px 0 20px;
  font-size: 1.2em;
  color: #999;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
